body {
  background-color: #FFFFE0; /* WARNA KUNING CERAH*/
font-family:Arial, sans-serif; /*jenis huruf yang bersih dan mudah
 color: #191970; /*warna teks utama (biru gelap)*/
}

.kartu-profil{
  widht: 500px;
  margin: 60px auto; /* 60px jarak atas/bawah,auto menegahkan kiri
  padding: 40px;
  background-color: pink;
  border-radius: 20px; /*membuat sudut menjadi melengkung*/
box-shadow: 0 4px 8px rgba(0,0,0,0,,1); / *efek bayangan*/
  text-align: center; /* menegahkan sebuah text*/
{
  .kartu-profil img {
    width: 150px;
    border-radius: 50%;
